<div class="flex flex-col min-h-screen">
  <app-header
    (searchValue)="search($event)"
    (open)="openForm()"
    [tasks]="tasks()"
    [visible]="visible()"
  ></app-header>
  @if (!visible() && tasks().length === 0) {
    <div class="flex justify-center items-center grow">
      <app-addnewtask (openForm)="openForm()"></app-addnewtask>
    </div>
  }
  @if (visible()) {
    <div class="flex justify-center grow items-start pt-5 sm:pt-0 sm:items-center w-full">
      <app-form (formValue)="formValue($event)" (closeform)="closeForm()"></app-form>
    </div>
  }
  @if (!visible()) {
    <div
      axDropList
      class="grid sm:grid-cols-2 md:grid-cols-3 2xl:grid-cols-4 grid-cols-1 gap-4 items-stretch pt-8"
      [dropListOrientation]="'horizontal'"
      (dropListDropped)="droplist($event)"
    >
      @for (item of alltasks(); track $index) {
        <app-task axDrag (delete)="deletetask($event)" [tasks]="item"></app-task>
      }
    </div>
  }
</div>
